* {
  box-sizing: border-box;
  color: #333;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  border: 1px solid black;
  margin-top: 10%;
  padding: 2% 4% 2% 4%;
}

li {
  margin: 3%;
}

button {
  margin: 0 3% 0 3%;
}

.header {
  font-size: 150%;
  font-weight: bold;
}
